OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4.1-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small

CHROMA_PATH=./chroma_store
COLLECTION_NAME=ai_usecases

ENVIRONMENT=dev
