streamlit
pandas
openpyxl
Pillow
ollama
langchain==0.3.27
langchain-core==0.3.79

langchain-openai==0.3.5
langchain-chroma==0.2.6
langchain-community==0.3.29
langchain-text-splitters==0.3.11
langsmith==0.4.29

chromadb

httpx
requests

python-dotenv
pydantic==2.10.1
plotly

fastembed==0.3.4

black==23.11.0
isort==5.10.1
pre-commit-hooks==4.2.0
nbstripout==0.7.1
commitizen==3.27.0
